<!DOCTYPE html>
<html lang="en">
<head>
  <title>Irrigation in precision agriculture using Blockchain Ethereum based on IoT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Irrigation in precision agriculture using Blockchain on IoT</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/dashboard">Dashboard</a></li>
        <li><a href="/model">Moisture Analysis</a></li>
        <li><a href="/model1">Humidity Analysis</a></li>
        <li><a href="/model2">Temperature Analysis</a></li>
        <li><a href="/model3">Rainfall Analysis</a></li>
        <li><a href="/model4">Light Analysis</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    </nav>
    <br/><br/>
    <div class="row">
        <div class="container col-sm-2"></div>
        <div class="container col-sm-4">
            <center><h3>Soil Moisture Sensory Feed</h3></center>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2454779/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>
        <div class="container col-sm-4">
            <center><h3>Humidity Sensory Feed</h3></center>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2454779/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-2"></div>
        <div class="container col-sm-4">
            <center><h3>Temperature Sensory Feed</h3></center>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2454779/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>
        <div class="container col-sm-4">
            <center><h3>Rainfall Sensory Feed</h3></center>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2454779/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-2"></div>
        <div class="container col-sm-4">
            <center><h3>Light Sensory Feed</h3></center>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2454779/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>